.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

logs/**
!logs/**/
!logs/**/.gitkeep

data/bronze/**
!data/bronze/**/
!data/bronze/**/.gitkeep

data/silver/**
!data/silver/**/
!data/silver/**/.gitkeep

data/gold/**
!data/gold/**/
!data/gold/**/.gitkeep

